<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <% messages.forEach(message => { %>
    <div>
      <p><b><%= message.user %></b></p>
      <p><%= message.text %></p>
      <p><i><%= message.added %></i></p>
    </div>
    <% }) %>
    <a href="<%= link %>">Create new message</a>
  </body>
</html>
